@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* #app { height: 100% }
html, */
/* body {
  position: relative;
  height: 100%;
} */

/* body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30%;
  height: 30%;
  background-color: none;
}

.swiper-slide img {
width: 300px;
height: 300px;
} */
